---
---

html {
    background: #f7f7f7;
}
body {
    max-width: 800px;
    margin: auto;
    padding: 16px;
}
nav {
    ul {
        padding: 0px;
        list-style: none;
        font-family: 'Helvetica', 'Arial', 'Sans-Serif';
        font-size: 1.25em;
        font-weight: bold;
        line-height: 1.6em;
        li {
            display: inline;
            margin-right: 20px;
        }
        a {
            color: #000;
        }
    }
}
a {
    text-decoration: none;
    color: #00b;
    &:hover {
        text-decoration: underline;
    }
}
h1 {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 2.25em;
}
h2 {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.75em;
    a {
        color: #000;
    }
}
h3 {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.25em;
}
h4 {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.15em;
}
p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #333;
}
div {
    &.pagination-prev {
        margin-bottom: 20px;
        font-size: 1.1em;
        color: #333;
        float: left;
    }
    &.pagination-next {
        margin-bottom: 20px;
        font-size: 1.1em;
        color: #333;
        float: right;
    }
    &.footnotes {
        border-top: 1px solid #aaaaaa;
        font-size: 1em;
        ol {
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 20px;
            p {
                font-size: 1em;
            }
        }
    }
}
footer {
    border-top: 1px solid #aaaaaa;
    font-size: .72em;
    clear: both;
    ul {
        padding: 0px;
        list-style: none;
        font-family: 'Helvetica', 'Arial', 'Sans-Serif';
        font-weight: bold;
        li {
            display: inline;
            margin-right: 20px;
        }
    }
}
ul {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #333;
    ul {
        font-size: 1em;
    }
    &.posts {
        padding: 0;
        li {
            list-style: none;
        }
    }
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    border: 0;
    background: #aaa;
    height: 1px;
    margin: 0 0 20px;
}
ol {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 1.1em;
    line-height: 1.6em;
    color: #333;
}
blockquote {
    border-left: 4px solid #ccc;
    margin: 0 2px;
    padding-left: 16px;
    padding-right: 10px;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  font-size: 1.1em;
  border: 1px solid black;
  padding: 10px;
}
code {
    font-size: 1.1em;
    line-height: 1.4em;
}
pre.highlight {
    word-wrap: normal;
    overflow-x: auto;
    white-space: pre;
}
.katex-display {
    font-size: 1.1em;
    color: #333;
    overflow-x: auto;
    overflow-y: hidden;
}
.text {
    font-family: 'Serif';
    font-size: 0.82em;
}
