<!DOCTYPE html>
	<html lang="en">
		<head>
			{% include gtag.html %}
			<title>{{ page.title }}</title>
			<link rel="manifest" href="/manifest.json">
			<link rel="stylesheet" media="(max-width: 499px)" href="/assets/css/max-499px.css">
			<link rel="stylesheet" media="(min-width: 500px)" href="/assets/css/min-500px.css">
			{% if page.hide_footnotes %}
				<link rel="stylesheet" href="/assets/css/hide-footnotes.css">
			{% endif %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.10/dist/katex.css" integrity="sha384-1gzTdjHZLufp5FQLVWOUgR2+OzKVh+lZdxrcJLH6LbOWTS5zZ4hjjGyfSXQzQRnA" crossorigin="anonymous">
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=rMlbJkPXO7">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=rMlbJkPXO7">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=rMlbJkPXO7">
			<link rel="mask-icon" href="/safari-pinned-tab.svg?v=rMlbJkPXO7" color="#00aba9">
			<link rel="shortcut icon" href="/favicon.ico?v=rMlbJkPXO7">
			<meta name="msapplication-TileColor" content="#00aba9">
			<meta name="theme-color" content="#f7f7f7"/>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	        		<li><a href="/archive/">Archive</a></li>
					<li><a href="/miscellaneous/">Miscellaneous</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/BTernaryTau">github.com/BTernaryTau</a></li>
					<li><a href="/archive/atom.xml">RSS Feed</a></li>
				</ul>
			</footer>
			<script src="/service-worker-registration.js"></script>
		</body>
	</html>
