<!DOCTYPE html>
	<html>
		<head>
			{% include gtag.html %}
			<title>{{ page.title }}</title>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" media="(max-width: 499px)" href="/css/max-499px.css">
			<link rel="stylesheet" media="(min-width: 500px)" href="/css/min-500px.css">
			{% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/archive">Archive</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/BTernaryTau">github.com/BTernaryTau</a></li>
				</ul>
			</footer>
		</body>
	</html>
